

$mfont:'Noto Sans TC', sans-serif;
$text:'Roboto','Noto Sans TC',  sans-serif;
$fontfix: 'Arimo','Noto Sans TC',  sans-serif;

$fontSerif: 'Arimo', sans-serif;;
$fen:'Roboto', serif, serif;

// font-family: 'Cinzel', serif;
// font-family: 'Heebo', sans-serif;

$color0:#D9D9D9;
$color1:#990000;
$color2:#2E8691;
$color3:#262626;
$color4:#A89D9D;

$maxConentW: 1440px;

$headH-pc:100px;
$headH-md:75px;
$headH-mo:50px;


$pdr-pc:20px;
$pdr-mo:20px;
