header{
    z-index: 10;
    width:100%;    
    font-family: $fontSerif;
    @include position(fixed,$left:50%,$top:24px); 
    transform: translateX(-50%);   
    max-width: 720px;
    width: calc(100% - 32px) ;
    @include mediaquery(null,$sm){ 
        top:0px;
        height: 60px;
        // background-color: white;
    }     
    @include mediaquery($md,$lg){
    }
    &.navdown{
        pointer-events: none;
        opacity: 0;
    }
    .title-bar{
        @include font-color(white,700,1.2);
        // @include font-size(12px,14px);
        font-size: 14px;
        @include mediaquery(null,$sm){  
            text-align: left;
            color:#111;
            padding-top: 24px;
            i{
                display: block;
            }
            .menuicon{                
                box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
                background-color: #222;
                border-radius: 20px;
                right: 0;
                top:12px;
                .mpsrel{
                    width: 56px;
                }
                .bar{
                    margin-right: 18px;
                }
            }
        }     
        @include mediaquery($sm,null){
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
            background-color: #222;
            border-radius: 100px;
            padding: 10px 0;
        }
    }
    .navBox{         
        position: relative;    
        z-index: 10;   
        width: 100%;     
        // height:100%;
        display: none;
        @include position(fixed,$right:0%,$top: 40px);   
        box-shadow: 1px 1px 4px rgba(0,0,0,0.5);    
        @include border(12px);    
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        @include mediaquery(null,$sm){
            top:60px;
        }
    }    
    .menuicon{
        @include position(absolute,$right:20px,$top:0px);
        z-index: 12;
        .mpsrel{
            width:36px;
            height:36px;
        }
        .bar,.bar:after,.bar:before{
            transition: all .25s;
            content: "";
            @include position(absolute,$right:0%,$top:0);
            height: 1px;   
            width: 20px;   
            background:rgba(white,1);    
        }
        .bar{
            margin-top: 19px;
            margin-right: 10px;
        }
        .bar:before{top: -5px;}
        .bar:after{top: 5px;}
    }
    // //mobile meun open
    &.menu-expanded{        
        &::before{
            opacity: 1;
            visibility: visible;
        }
        .menuicon .bar{
            background:rgba(black,0);
            &:before{
                top:0px;
                right: 0;
                transform:rotate(45deg);
                width: 18px;
            }
            &:after{
                top:0px;
                right: 0;
                transform: rotate(-45deg);
                width: 18px;
            }
        }
    }  
    //mmenu
    ul.mmenu{  
        background-color: white;
        padding:16px 32px 32px;
		> li{
            border-bottom: 1px solid #111;
            > a{
                display: block;
                position: relative;
                @include font-color(#111,700,1);
                @include font-size(24px,56px); 
                padding:12px 0;
            }
            &:hover > a,&.active > a{
                opacity: 0.6;      
            } 
        }  
        
        @include mediaquery(null,$sm){    
            padding:16px 16px 32px;     
        }
        @include mediaquery($lg,null){
        }
    }
}