@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Noto+Sans+TC:wght@400;500;700&&family=Arimo:wght@400;500;700&&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  color: #262626;
  min-height: 100vh;
}
body.fade-in {
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
  visibility: visible;
}
@media all and (max-width: 768px) {
  body {
    background-size: 80%;
    background-position: center 25vh;
  }
}

/*----------------------通用設定------------------------*/
::-moz-selection {
  color: #fff;
  background: #990000;
}
::selection {
  color: #fff;
  background: #990000;
}

a {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

*:focus {
  outline: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.fontfix {
  font-family: "Arimo", "Noto Sans TC", sans-serif;
}

.fserif {
  font-family: "Arimo", sans-serif;
}

.fen {
  font-family: "Roboto", serif, serif;
}

#Wapper {
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}
@media all and (max-width: 768px) {
  #Wapper.pdbtm {
    padding-bottom: 80px;
  }
}
@media all and (min-width: 769px) {
  #Wapper.pdbtm {
    padding-bottom: 120px;
  }
}

.row {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
@media all and (min-width: 576px) and (max-width: 768px) {
  .row {
    margin: 0 auto;
    width: 90%;
  }
}
@media all and (min-width: 769px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
  .row .col {
    width: 100%;
  }
  .row .col-xl-6 {
    width: 66.7%;
  }
  .row .col-3 {
    width: 25%;
  }
  .row .col-4 {
    width: 0.33%;
  }
  .row .col-9 {
    width: 75%;
  }
  .row .col-10 {
    width: 83.3%;
  }
  .row .col-offset-1 {
    margin-left: 8.3%;
  }
  .row .col-offset-3 {
    margin-left: 25%;
  }
  .row .col-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (min-width: 1440px) {
  .row .col-xl-3 {
    width: 25%;
  }
  .row .col-xl-6 {
    width: 50%;
  }
  .row .col-xl-7 {
    width: 55%;
  }
  .row .col-xl-8 {
    width: 65%;
  }
  .row .col-xl-10 {
    width: 83.3%;
  }
  .row .col-xl-offset-1 {
    margin-left: 8.3%;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.imgPng {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/*----------------------共用樣式------------------------*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.mpsrel {
  position: relative;
}

.bgcover {
  width: 100%;
  height: 0;
  background: center/cover;
}

/*-------------------背景圖片 桌手機分開-----------------*/
@media all and (max-width: 575px) {
  .bgcover[data-src-lg] {
    content: attr(data-src-lg, url);
  }
}
@media all and (min-width: 576px) {
  .bgcover[data-src-sm] {
    content: attr(data-src-sm, url);
  }
}
#topBtn {
  z-index: 90;
  text-align: center;
  display: block;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  border-radius: 99em;
  border: 1px solid #857575;
  -webkit-transition: border 0.6s;
  transition: border 0.6s;
}
#topBtn .svg path {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#topBtn.open {
  opacity: 0.5;
  visibility: visible;
}
#topBtn.change {
  position: absolute;
}
@media all and (max-width: 990px) {
  #topBtn {
    width: 40px;
    height: 40px;
    padding-top: 7px;
    position: fixed;
    right: 15px;
    bottom: 20px;
  }
  #topBtn .svg {
    width: 16px;
  }
}
@media all and (min-width: 991px) {
  #topBtn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 80px;
    height: 80px;
    padding-top: 25px;
  }
  #topBtn:hover {
    border-color: #990000;
  }
  #topBtn:hover .svg path {
    stroke: #990000;
  }
}

.bgblack {
  background-color: #1E1E1E;
}

h1, h2, h3, h4, h5 {
  font-family: "Arimo", "Noto Sans TC", sans-serif;
  font-weight: 700;
}

b, strong {
  font-weight: 700;
}

.fs12 {
  font-size: 12px;
}

.fs20 {
  font-size: 20px;
}

@media all and (max-width: 575px) {
  .fs24 {
    font-size: 20px;
  }
}
@media all and (min-width: 576px) {
  .fs24 {
    font-size: 24px;
  }
}

.mb-8 {
  margin-bottom: 0.8em;
}

.mb-2 {
  margin-bottom: 0.2em;
}

.bread {
  text-align: center;
  margin-bottom: 100px;
  padding: 0 20px;
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}
.bread a {
  color: #111;
}
.bread a:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  margin: 0 0.5em;
  background-color: #111;
  -webkit-transform: rotate(20deg) translate(2px, 2px);
          transform: rotate(20deg) translate(2px, 2px);
}
.bread a.active {
  font-weight: 700;
}

.h1title {
  line-height: 1;
  text-align: center;
}
@media all and (max-width: 575px) {
  .h1title {
    font-size: 60px;
  }
}
@media all and (min-width: 576px) {
  .h1title {
    font-size: 140px;
  }
}

.h2title {
  line-height: 1.2;
  letter-spacing: 0.2em;
}
@media all and (max-width: 575px) {
  .h2title {
    font-size: 20px;
  }
}
@media all and (min-width: 576px) {
  .h2title {
    font-size: 24px;
  }
}

.title-line {
  width: 1px;
  height: 110px;
  background-color: #262626;
  margin: 50px auto 60px;
}

.stext {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.bdr {
  text-align: center;
  display: inline-block;
  border: 1px solid white;
  border-radius: 100px;
  padding: 4px 32px;
  letter-spacing: 0.2em;
  color: white;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
}
@media all and (max-width: 575px) {
  .bdr {
    font-size: 16px;
  }
}
@media all and (min-width: 576px) {
  .bdr {
    font-size: 20px;
  }
}

.readmore {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding-right: 20px;
  color: white;
  display: inline-block;
  background: no-repeat url(../images/external-link-wh.png) right center/12px;
}

ul.note li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
ul.note div {
  margin-left: 0.5em;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.03em;
}

sup {
  vertical-align: super;
  font-size: 12px;
}

@media all and (max-width: 575px) {
  .title-line {
    height: 60px;
    margin: 25px auto 30px;
  }
  .bdr {
    padding: 4px 16px;
  }
}
@media all and (min-width: 576px) and (max-width: 990px) {
  .h1title {
    font-size: 80px;
  }
}
header {
  z-index: 10;
  width: 100%;
  font-family: "Arimo", sans-serif;
  position: fixed;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 720px;
  width: calc(100% - 32px);
}
header .title-bar {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background-color: #222;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  border-radius: 100px;
  line-height: 36px;
}
@media all and (max-width: 575px) {
  header .title-bar {
    font-size: 12px;
  }
}
@media all and (min-width: 576px) {
  header .title-bar {
    font-size: 14px;
  }
}
header .navBox {
  position: relative;
  z-index: 10;
  width: 100%;
  display: none;
  position: fixed;
  top: 40px;
  right: 0%;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
header .menuicon {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 12;
}
header .menuicon .mpsrel {
  width: 36px;
  height: 36px;
}
header .menuicon .bar, header .menuicon .bar:after, header .menuicon .bar:before {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  content: "";
  position: absolute;
  top: 0;
  right: 0%;
  height: 1px;
  width: 18px;
  background: white;
}
header .menuicon .bar {
  margin-top: 19px;
  margin-right: 10px;
}
header .menuicon .bar:before {
  top: -5px;
}
header .menuicon .bar:after {
  top: 5px;
}
header.menu-expanded::before {
  opacity: 1;
  visibility: visible;
}
header.menu-expanded .menuicon .bar {
  background: rgba(0, 0, 0, 0);
}
header.menu-expanded .menuicon .bar:before {
  top: 0px;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 18px;
}
header.menu-expanded .menuicon .bar:after {
  top: 0px;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 18px;
}
header ul.mmenu {
  background-color: white;
  padding: 16px 32px 32px;
}
header ul.mmenu > li {
  border-bottom: 1px solid #111;
}
header ul.mmenu > li > a {
  display: block;
  position: relative;
  color: #111;
  font-weight: 700;
  line-height: 1;
  padding: 12px 0;
}
@media all and (max-width: 575px) {
  header ul.mmenu > li > a {
    font-size: 24px;
  }
}
@media all and (min-width: 576px) {
  header ul.mmenu > li > a {
    font-size: 56px;
  }
}
header ul.mmenu > li:hover > a, header ul.mmenu > li.active > a {
  opacity: 0.6;
}
@media all and (max-width: 575px) {
  header ul.mmenu {
    padding: 16px 16px 32px;
  }
}
footer {
  background-color: #222;
  color: white;
  font-weight: 400;
  line-height: 1.2;
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 24px 20px;
  text-align: center;
  text-transform: uppercase;
}

.asj.fade {
  opacity: 0;
}
.asj.fade.animated {
  opacity: 1;
  -webkit-transition: opacity 2s cubic-bezier(0.38, 0.005, 0.215, 1);
  transition: opacity 2s cubic-bezier(0.38, 0.005, 0.215, 1);
}

.asj.fade-up {
  opacity: 0;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.asj.fade-up.animated {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 2s, -webkit-transform 0.8s;
  transition: opacity 2s, -webkit-transform 0.8s;
  transition: opacity 2s, transform 0.8s;
  transition: opacity 2s, transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
          transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}

.asj.skewY {
  opacity: 0;
  -webkit-transform: translateY(100px) skewY(15deg);
          transform: translateY(100px) skewY(15deg);
}
.asj.skewY.animated {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, transform 1s;
  transition: opacity 2s, transform 1s, -webkit-transform 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
          transition-timing-function: cubic-bezier(0.38, 0.005, 0.215, 1);
}

.asj[data-delay="100"] {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.asj[data-delay="200"] {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.asj[data-delay="300"] {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.asj[data-delay="500"] {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}